

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px !important;
    margin: 0;
  }

  .header .container {
    position: relative;
    flex-direction: column;
    height: auto;
  }
  .header .container img {
    padding-top: 15px;
    align-self: flex-start;
    width: 30%;
}

  .header .container .nav {
    /* display: none; */
    padding: 20px 0;
    width: 95%;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
  }

  

  .nav .single_item {
    margin: 10px;
    width: 100%;
    text-align: center;
  }

  .fa-bars{
    display: block;
    position: absolute;
    font-size: 2em;
    right: 25px;
    top: 25px;
    cursor: pointer;
  }
  .fa-xmark{
    display: block;
    position: absolute;
    font-size: 2em;
    right: 25px;
    top: 25px;
    cursor: pointer;
  }
 
  .nav_active {
    display: none;
}
  .start_now_btn {
    width: fit-content !important;
  }

  .hero_contents {
    flex-direction: column;
  }

  .content_side {
    width: 100%;
    padding-bottom: 30px;
  }

  .image_side {
    padding-top: 30px;
    width: 100%;
  }

  .benefit_content_wrapper {
    flex-direction: column-reverse;
    width: 100%;
  }

  .cards_wrapper .single_card {
    min-width: 100%;
  }

  .benefit_content_wrapper .demo_video {
    width: 100%;
  }

  .upper_content_wrapper {
    text-align: center;
    flex-direction: column;
    margin-bottom: 60px;
    height: fit-content;
  }
  .upper_content_wrapper h5 {
    margin: 40px 0;
  }

  .lower_content_wrapper {
    justify-content: space-around;
    height: fit-content;
    gap: 30px;
    margin-bottom: 100px;
  }

  .payment .container {
    margin: 30px 0;
  }

  .right-content {
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    margin-top: 50px !important;
  }

  h2 {
    text-align: center !important;
  }

  .debit_card {
    width: 80%;
    padding-left: 120px;
    box-sizing: border-box;
  }
  .debit_card img {
    margin: 0 auto;
  }

  .mobile_rate_wrapper .left_content {
    padding-bottom: 30px;
  }
  .platforms .container {
    margin-bottom: 200px;
  }

  .platforms .left_content {
    width: 100%;
    padding: 50px 0;
  }

  .platforms .right_logo {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 100px !important;
  }



  .setup_content_wrapper{
    padding-bottom: 40px;
  }

  .footer{
    padding: 60px 0;
    box-sizing: border-box;
  }
.footer .logo{
  width:20%;
}

.footer .contact_wrapper .contact{
  width: 70%;
  flex-wrap: wrap;

}

.footer .contact_wrapper .contact .email,
.footer .contact_wrapper .contact .office{
  padding-top: 20px;
}

.footer_bottom{
  flex-wrap: wrap-reverse;
  /* padding-bottom:50px ; */
  padding-top: 10px;
}


.footer_nav{
  width: 100%;
  padding-bottom: 30px;
  /* flex-wrap: wrap; */
}
























}
